
/* Main styles */
.text--transparent {
    fill: transparent;
}
.anim-shape {
    -webkit-transform-origin: 0 150px;
    -ms-transform-origin: 0 150px;
    transform-origin: 0 150px;
    -webkit-transform: scale(0, 1) translate(0, 0);
    -ms-transform: scale(0, 1) translate(0, 0);
    transform: scale(0, 1) translate(0, 0);
    -webkit-animation: moving-panel 3s infinite alternate;
    animation: moving-panel 3s infinite alternate;
}
.colortext .anim-shape:nth-child(1) {
    fill: #FF7F00;
}
.colortext .anim-shape:nth-child(2) {
    fill: #fff;
}
.colortext .anim-shape:nth-child(3) {
    fill: #0000FF;
}
.colortext .anim-shape:nth-child(4) {
    fill: #00FF00;
}
.colortext .anim-shape:nth-child(5) {
    fill: #bfbf00;
}
.colortext .anim-shape:nth-child(6) {
    fill: #FF7F00;
}
.colortext .anim-shape:nth-child(7) {
    fill: #FF0000;
}
.colortext .anim-shape:nth-child(8) {
    fill: #fff;
}
.colortext .anim-shape:nth-child(9) {
    fill: #00FF00;
}
.colortext .anim-shape:nth-child(10) {
    fill: #0000FF;
}
.shadow {
    -webkit-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
}
.anim-shape--shadow {
    fill: #000;
    fill-opacity: 0.2;
}
@-webkit-keyframes moving-panel {
    100% {
        -webkit-transform: scale(1, 1) translate(20px, 0);
        transform: scale(1, 1) translate(20px, 0);
    }
}
@keyframes moving-panel {
    100% {
        -webkit-transform: scale(1, 1) translate(20px, 0);
        transform: scale(1, 1) translate(20px, 0);
    }
}
/* Other stuff */

svg {

    font: 3em  Nosifer;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}
 
