.gr-1 {
    background: linear-gradient(170deg, #01e4f8 0%, #1d3ede 100%);
}
.gr-2 {
    background: linear-gradient(170deg, #b4ec51 0%, #429321 100%);
}
.gr-3 {
    background: linear-gradient(170deg, #c86dd7 0%, #3023ae 100%);
}
* {
    transition: 0.5s;
}
.align-middle {
    position: relative;
    top: 50%;

}
.column {
    margin-top: 3rem;
    padding-left: 3rem;
}
.column:hover {
    padding-left: 0;
}
.column:hover .card .txt {
    margin-left: 1rem;
}
.column:hover .card .txt .skillp {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}

.column:hover .card .txt .skillah1
{
    color: #080e76;
    opacity: 1;
    font-weight: bolder;
    border-bottom: 2px solid #ffffff;
}
.column:hover .card .txt .skillbh1
{
    color: rgb(14, 117, 50);
    opacity: 1;
    font-weight: bolder;
    border-bottom: 2px solid #ffffff;
}
.column:hover .card .txt .skillch1
{
    color: rgb(253, 183, 255);
    opacity: 1;
    font-weight: bolder;
    border-bottom: 2px solid #ffffff;
}
.column:hover .skilla {
    color: rgba(255, 255, 255, 1);
}
.column:hover .skilla:after {
    width: 10%;
}
.card {
    min-height: 100px;
    margin: 0;
    padding: 2rem 1.5rem;
    border: none;
    border-radius: 0;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.05rem;
    font-family: 'Oswald', sans-serif;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .27);
}
.card .txt {
    margin-left: -3rem;
    z-index: 1;
}
.card .txt .skillh1 {
    font-size: 2rem;
    color: #383838;
    margin-left: -65px;
    font-weight: 300;
    text-transform: uppercase;
}


.h-100 {
    height: 100vh !important;
}

.card .txt .skillp {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0rem;
    margin-top: 110px;
    opacity: 0;
    color: rgba(255, 255, 255, 1);
}
.card .skilla {
    z-index: 3;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-left: 1rem;
    position: relative;
    bottom: -0.5rem;
    text-transform: uppercase;
}
.card .skilla:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    width: 0;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    transition: 0.5s;
}
.card .ico-card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 95%;
    height: 100%;
    overflow: hidden;
}
.card .skilli {
    position: relative;
    right: -30%;
    top: 50%;
    font-size: 18rem;
    line-height: 0;
    opacity: 0.4;
    color: rgba(255, 255, 255, 1);
    z-index: 0;
}
 
